<table class="table_data" style="width: 80%">
  <tr class="table_head">
    <th>Date</th>
    <th>Description</th>
    <th>Paid</th>
    <th>Transaction #</th>
  </tr>
  <% payments.each do |payment| %>
    <tr class="table_cell">
      <td><%= payment.purchase_date('%d-%b-%Y') %></td>
      <td><%= raw payment.description %></td>
      <td><%= number_to_currency(payment.total_paid, :unit => Country.curr_code_to_symbol(payment.currency)) %></td>
      <td class="table_cell_right"><%= payment.token %></td>
    </tr>
  <% end %>
</table>
