<h4>New account</h4>
<% form_for @user, :as => :user, :url => admin_accounts_path, :html => { :method => :post } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f, :user => @user } %>
	<%= submit_tag 'Create' %> or <%= link_to 'Cancel', admin_accounts_path %>
<% end%>