<h1>Hi <%= @resource.name %>.</h1>

<p>
Please confirm your <strong>e.mote&trade;</strong> account by clicking this link:<br/>
<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</p>
<br/>
<p>
Once you confirm, you will have full access to your <strong>e.mote&trade;</strong> account and all future notifications will be sent to this email address.
</p>
