/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/getting-account
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font: inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  there are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/*
 * minimal base styles
 */


body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE: */
html { overflow-y: scroll; }


/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* remove margins for navigation lists */
nav ul, nav li { margin: 0; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* set sub, sup without affecting line-height: gist.github.com/413930*/
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
/*
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
*/

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/*
 * Non-semantic helper classes
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
    border: 0 !important;
    clip: rect(0 0 0 0);
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author:
 */


html, body{
    width: 100%; 
    height: 100%;
    background: url('/images/background.png') repeat-x;
    background-attachment:fixed;
    background-position:50% 50%;
    min-width: 1150px;
    min-height: 570px;
}

#container{
    height: 100%;
/*    min-height: 580px; */
    font-family: "Droid Sans", Verdana, Arial, Helvetica, sans-serif;
}

#before-header{	
    height: 10px;
}

#header{
    background: url('/images/header_gradient.png') repeat-x;
    width: 95%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

#header #logo{
    margin-left: 10px;
    margin-top: 3px;
}

#header #menu{
    float: right;
}

.borderradius #header{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.boxshadow #header{
    -moz-box-shadow: 1px 5px 4px #000;
    -webkit-box-shadow: 1px 5px 4px #000;
    box-shadow: 1px 5px 4px #000;
}

#content-win-centr{
    top: 50%;
    margin-top: -200px;
    border: 17px solid #dedede;
    width: 610px;
    height: 400px;
    margin-left: -315px;
    position: absolute;
    left: 50%;
    background-color: white;
}

.borderradius #content-win-centr{
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
}


#content-win-centr #login-form{
    margin-top: 60px;
    margin-left: 45px;
    width: 360px;
    float: left;
}

.big-text{
    font-size: 20px;
}

.medium-text{
    font-size: 12px;
}

#login-form form{
    margin-top: 30px;
}

#login-form .field, #login-form .field-checkbox{
    margin-top: 15px;
}

#login-form .field label{
    font-size: 16px;
}

#login-form .field-checkbox label{
    font-size: 12px;
    margin-left: 10px;
    white-space: nowrap;
    position: relative;
    top: 1px;
}

#login-form .field input{
    width: 330px;
}

#login-form #submit-area{
    margin-top: 25px;
}

#login-form #submit-area a{
    margin-left: 30px;
}

#content-win-centr .vr{
    border-left:2px solid #e6e6e6; float: left; margin-top: 60px; width: 1px; height: 310px;
}

#login-content #create-account{
    float: right;
    text-align: center;
    margin-right: 30px;
    margin-top: 30px;
    width: 140px;
    height: 346px;
    background: #f5f5f5;
}

#login-content #create-account img{
    margin-left: 8px;
}

#login-content #create-account #no-account{
    margin-top: 20px;
    margin-bottom: 5px;
}

#login-content #create-account #create-one{
    margin-top: -14px;
}

.borderradius #login-content #create-account{
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}


#content-win-centr #forget-password{
    text-align: center;
}


/* ------- Forget the password page ------- */
#content-win-centr #forgetpw-content{
    margin-top: 60px;
    margin-left: 45px;
    width: 520px;
    float: left;
}

.forgetpw-form {
    float: left;
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

form .field_forgetpw{
    background: #fff;
    border: 1px solid #000;
    font-size: 16px;
    width: 245px;
    height: 22px;
}

.cs_link a{
    float: left;
    margin-top: 105px;
    font-size: 13px;
    color: #0006ff;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.cs_link a:hover{
	text-decoration: underline;
}

/* ------- Almost there... page ------- */

#content-win-centr #almost-content{
    margin-top: 60px;
    margin-left: 45px;
    width: 520px;
    float: left;
}

.almost-text {
	float: left;
	margin-top: 60px;
}

.almost-text p{
	padding: 5px 0;
}

.at_link a{
	float: left;
	margin-top: 75px;
	font-size: 13px;
	color: #0006ff;
	text-decoration: none;
	width: 100%;
	text-align: center;
}

.at_link a:hover{
	text-decoration: underline;
}

/* ------- Account Confirmed page ------- */

.acc_text{
    float: left;
    margin: 40px 0 30px 0;
    font-size: 14px;
}

#account-confirmation .field{
    clear:both;
}

#account-confirmation .field label{
    font-size: 14px;
    float:left;
    width: 170px;
    margin-left: 50px;
    margin-bottom: 12px;
    margin-top: 5px;
}

#account-confirmation .field input{
    border: 1px solid black;
    font-size: 18px;
    width: 245px;
}

.boxshadow #account-confirmation .field input{
    -moz-box-shadow: 0px 2px 2px #999999;
    -webkit-box-shadow: 0px 2px 2px #999999;
    box-shadow: 0px 2px 2px #999999;
}

#flash-messages {
    text-align: center;
    margin-top: 25px;
}

#flash-messages .flash-messages-list{
	list-style-type: none;
}

#flash-messages .alert {
    color: #9e0000;
}

#flash-messages .notice {
    color: #009900;
}

#flash-messages .error_update{
    margin: 0px;
    border: 1px solid blue;
}

.setpw {
	position: absolute;
	top: 280px;
	margin-top: 50px;
	margin-left: 370px;
}

/* ------- Change your password page ------- */

#content-win-centr #changepw-content{
    margin-top: 40px;
    margin-left: 45px;
    width: 520px;
    float: left;
}

.changepw-layer{
    float: left;
    margin-top: 80px;
}

#changepw-content .field{
    clear:both;
}

#changepw-content .field label{
    font-size: 14px;
    float:left;
    width: 170px;
    margin-left: 50px;
    margin-bottom: 12px;
    margin-top: 5px;
}

#changepw-content .field input{
    border: 1px solid black;
    font-size: 18px;
    width: 245px;
}

.boxshadow #changepw-content .field input{
    -moz-box-shadow: 0px 2px 2px #999999;
    -webkit-box-shadow: 0px 2px 2px #999999;
    box-shadow: 0px 2px 2px #999999;
}

.changepw{
	position: absolute;
	top: 280px;
	margin-top: 50px;
	margin-left: 370px;
}

/* ------- View Activity Page ------- */

#content-win-centr #viewactivity-content{
    margin-top: 30px;
    margin-left: 30px;
    width: 540px;
    height: 320px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.currentsubs{
    float: left;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 30px;
}

.payment_history{
    float: left;
    margin-top: 30px;
}

.payment_history_data{
    font-size: 13px;
    margin-top: 20px;
    margin-left: 30px;
}

table.table_data{
    width: 410px;
    margin-left: 40px;
    font-size: 13px;
    text-align: center;
}

.table_head th{
    border: 1px solid #dbdcdd;
    border-bottom: 1px solid #000;
    text-align: left;
    padding: 0 5px;
}

.cell_underline th{

}

.table_cell td{
    border: 1px solid #dbdcdd;
}

.table_cell_left td{
    text-align: left;
    padding-left: 5px;
    border: 1px solid #dbdcdd;
}

.table_cell_right{
    text-align: right;
    padding-right: 2px;
}

/* ------- Subscriptions page ------- */

.medium-text-subsc{
    float: left;
    font-size: 13px;
    margin-top: 10px;
}

.subsc-list{
    float: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 40px;
}

#content-win-centr #subscription-content{
    margin-top: 20px;
    margin-left: 30px;
    width: 565px;
    height: 350px;
    float: left;
}

.one-pack{
    float: left;
    background: url('../images/1_pack.png') no-repeat;
    width: 552px;
    height: 44px;
}

.five-pack{
    float: left;
    background: url('../images/5_pack.png') no-repeat;
    width: 552px;
    height: 44px;
    margin-top: 5px;
}

.ten-pack{
    float: left;
    background: url('../images/10_pack.png') no-repeat;
    width: 552px;
    height: 44px;
    margin-top: 5px;
}

.twentyfive-pack{
    float: left;
    background: url('../images/25_pack.png') no-repeat;
    width: 552px;
    height: 44px;
    margin-top: 5px;
}

.pack-title{
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    text-transform: uppercase;
}

.pack-title a{
    color: #fff;
    text-decoration: none;
}

.pack-title a:hover{
    color: #fff;
    text-decoration: underline;
}

.pack-price {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-left: 80px;
    margin-top: 14px;
    color: #000;
}

.pack-description {
    font-size: 11px;
    text-align: center;
    color: #000;
    margin: 15px 5px 0 5px;
}

.pack-purchase {
    float: right;
    margin-top: -24px;
    margin-right: 10px;

}

.subscr_order{
    width: 565px;
    margin-left: 30px;
    margin-top: -25px;
    float: left;
    text-align: center;
}

/* ------- Update Personal Information page ------- */

#content-win-centr #update-info{
    margin-top: 15px;
    margin-left: 45px;
}

#update-info form{
    margin-top: 30px;
}

#update-info .field{
    clear:both;
}

#update-info .field label{
    font-size: 15px;
    float:left;
    width: 210px;
    margin-bottom: 15px;
    margin-top: 2px;
}

#update-info .field input{
    border: 1px solid black;
    font-size: 18px;
    width: 300px;
}

.boxshadow #update-info .field input{
    -moz-box-shadow: 0px 2px 2px #999999;
    -webkit-box-shadow: 0px 2px 2px #999999;
    box-shadow: 0px 2px 2px #999999;
}

#update-info .field select{
    border: 1px solid black;
    font-size: 18px;
    width: 300px;
}

.boxshadow #update-info .field input, select{
    -moz-box-shadow: 0px 2px 2px #999999;
    -webkit-box-shadow: 0px 2px 2px #999999;
    box-shadow: 0px 2px 2px #999999;
}

.error-update{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

.create_acc{
    position: absolute;
    margin-left: 200px;
    bottom: 10px;
}

/* ------- All Finished! page ------- */

#content-win-centr #allfinished{
    margin-top: 50px;
    margin-left: 45px;
    width: 530px;
    height: 330px;
}

.emotelink{
    float:left;
    margin-top: 20px;
    margin-left: 50px;
}

#allfinished .emotelink input{
    border: 1px solid black;
    padding: 3px 0;
    font-size: 15px;
    width: 360px;
}

.boxshadow #allfinished .emotelink input{
    -moz-box-shadow: 0px 2px 2px #999999;
    -webkit-box-shadow: 0px 2px 2px #999999;
    box-shadow: 0px 2px 2px #999999;
}

.emotelink_img{
    float: right;
    margin-left: 5px;
}

.goback_btn{
    float: left;
    margin-top: 45px;
    width: 100%;
    text-align: center;
}

/* ------- ScoreCard page ------- */

#container #content-win-centr-scorecard{
    position: relative;
    width: 100%;
    height: 78%;
}

#content-win-centr-scorecard #scorecard-content{
    float: left;
    height: 85%;
    width: 100%;
    text-align: center;
}

.survey-title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    padding-top: 10px;
}

.survey-title:first-letter{
    text-transform: capitalize;
}

/* --end-- */

#forfooter{
    height: 45px;
}


#footer{
    margin-top: -50px;
    height: 40px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: url('/images/footer_gradient.png') repeat-x;
}

#footer #ie-logo{
    float: right;
    margin-top: 1px;
    margin-right: 5px;
}

.boxshadow #footer{
    -moz-box-shadow: 1px 5px 4px #000;
    -webkit-box-shadow: 1px 5px 4px #000;
    box-shadow: 1px 5px 4px #000;
}

.borderradius #footer{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#content-win-centr #getting-account{
    margin-top: 30px;
    margin-left: 45px;
}

#getting-account form{
    margin-top: 15px;
}

#getting-account .field{
    clear:both; 
}

#getting-account .field label{
    font-size: 16px;
    float:left;
    width: 210px;
    margin-bottom: 12px;
    margin-top: 5px;
}

#getting-account .field input{
    border: 1px solid black;
    font-size: 18px;
    width: 300px;
}

#getting-account .field select{
    border: 1px solid black;
    font-size: 18px;
    width: 300px;
}

.boxshadow #getting-account .field input, select{
    -moz-box-shadow: 0px 2px 2px #999999;
    -webkit-box-shadow: 0px 2px 2px #999999;
    box-shadow: 0px 2px 2px #999999;
}

.star_note {
    float: left;
    margin-top: 8px;
    text-align: left;
}

.getting-started_errors{
    width: 510px;
    padding-top: 12px;
}

/* Top menu */
#header #menu #username{
    color: black;
    text-align: right;
    margin-top: 10px;
    margin-right: 12px;
}

#header #buttons{
    margin-top: 5px;
}


#buttons .dropdown{
	float:left; 
	width: 98px; 
	position: relative;
	margin-right: 12px;
}

#buttons .dropdown ul.menu-body {
	display: none; 
	background: white;
	border: 1px #999999 solid;
	list-style: none;
        margin: -33px 0 0 -5px;
	padding: 38px 0 0 0;
	width: 110px;
	position: absolute;
	z-index: 5;
	width: 108px;
}

.borderradius #buttons .dropdown ul.menu-body{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#buttons .dropdown ul li{
	margin-bottom: 10px;
	margin-left: 5px;
        text-transform: uppercase;
}

#buttons .dropdown ul li a{
	font-size: 10px;
	color: #aaaaaa;	
	text-decoration: none;
}

#buttons .dropdown .arrow{
	text-align: center;
	margin-top: -2px;
}


#buttons .button{
    width: 98px;
    height: 28px;
    z-index: 10;
    position: relative;
}

#buttons #emoteControlButton.off {
    background: url('/images/buttons/emote_control_grfull.png') no-repeat;
}

#buttons #emoteControlButton.over {
    background: url('/images/buttons/emote_control_gr.png') no-repeat;
}

#buttons #emoteControlButton.on {
    background: url('/images/buttons/emote_control_yl.png') no-repeat;
}


#buttons #scoreCardButton.off {
    background: url('/images/buttons/score_card_grfull.png') no-repeat;
}

#buttons #scoreCardButton.over {
    background: url('/images/buttons/score_card_gr.png') no-repeat;
}

#buttons #scoreCardButton.on {
    background: url('/images/buttons/score_card_yl.png') no-repeat;
}

#buttons #myAccount.off {
    background: url('/images/buttons/my_account_grfull.png') no-repeat;
}

#buttons #myAccount.over {
    background: url('/images/buttons/my_account_gr.png') no-repeat;
}

#buttons #myAccount.on {
    background: url('/images/buttons/my_account_yl.png') no-repeat;
}
/* EOF Top menu */


/* ------- Control page ------- */
#content-win-control{
    top: 50%;
    margin-top: -215px;
    border: 17px solid #dedede;
    width: 1100px;
    height: 430px;
    margin-left: -550px;
    position: absolute;
    left: 50%;
    background-color: white;
    overflow: auto;
}

.borderradius #content-win-control{
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
}

#content-win-control #area{
    width: 1060px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    height: 410px;
    margin-top: 13px;
}

#content-win-control table{
    width: 100%;
}

#content-win-control table thead th{
    font-size: 12px;
    font-weight: normal;
}

#content-win-control table td{
    text-align: center;
    font-size: 16px;
}


#content-win-control table tr{
    border-bottom: 3px solid white;
}


#content-win-control table .project-name{
    text-align: left;
    max-width: 100px;
    padding-left: 5px;
}

#content-win-control table caption{
    font-size: 18px;
    margin-bottom: 15px;
}


#content-win-control table td{
    vertical-align: middle;
}

#content-win-control table .odd td{
    background: #ededed;
}

.borderradius #content-win-control table .first-col{
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
}

.borderradius #content-win-control table .last-col{
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
}


#content-win-control table .even td{
    background: #fafafa;
}

#content-win-control #create-emote{
    margin-top: 20px;
}

#content-win-control #create-emote #add-scorecard{
    margin-top: 10px;
    font-size: 12px;
}

.open_emote{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

/* ------- Tooltips for e.mote Control page ------- */

.tooltip {
        border-bottom: 1px dotted #000000; color: #000000; outline: none;
        cursor: help; text-decoration: none;
        position: relative;
}
.tooltip span {
        margin-left: -999em;
        position: absolute;
}
.tooltip:hover span {
        border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        font-family: Calibri, Tahoma, Geneva, sans-serif;
        position: absolute; left: 1em; top: 2em; z-index: 99;
        margin-left: 0; width: 250px;
}
.tooltipleft:hover span {
        position: absolute; left: -215px; top: 2em;
}
.tooltip:hover em {
        font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
        display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em;}
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent;}
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }

.tooltiprigth span{
    margin-right: -999em;
    position: absolute;
}

/* ------- Create e.mote Page ------ */
#content-win-centr2{
    top: 50%;
    margin-top: -205px;
/*    border: 17px solid #dedede; */
    width: 1100px;
    height: 410px;
    margin-left: -550px;
    position: absolute;
    left: 50%;
}

#content-win-centr2 .win{
    height: 100%;
    width: 510px;
    border: 17px solid #dedede;
    background-color: white;
}

.borderradius #content-win-centr2 .win{
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
}

#content-win-centr2 #win1 #internal, #content-win-centr2 #win2 #internal{
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

#content-win-centr2 #win1 .instruction{
    margin-top: 10px;
    margin-bottom: 30px;
}

#content-win-centr2 #win1 .field{
    text-align: center;
}

#content-win-centr2 #win1 .field input{
    border: 1px solid black;
    font-size: 18px;
    width: 220px;
}

.boxshadow #content-win-centr2 #win1 .field input{
    -moz-box-shadow: 0px 2px 2px #999999;
    -webkit-box-shadow: 0px 2px 2px #999999;
    box-shadow: 0px 2px 2px #999999;
}

#content-win-centr2 #win1 #publish-text{
    margin-top: 130px;
}

#content-win-centr2 #win1 #publish-button{
    margin-top: 25px;
    text-align: center;
}

#content-win-centr2 #win1 #publish-button a{
    margin-left: 10px;
}

#content-win-centr2 #win1{
    float: left;
}

#content-win-centr2 #win2{
    float: right;
}

#content-win-centr2 #win2 #preview-win{
    height: 250px;
    width: 380px;
    border: 7px solid #9cb3c5;
    background-color: #003882;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#content-win-centr2 #win2 #preview-text{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
}

#content-win-centr2 #win2 #input-text{
    font-weight: bold;
}

.borderradius #content-win-centr2 #win2 #preview-win{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}

    
/* ------ EOF Create e.mote Page ---- */

/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

