<div id="content-win-pw" role="main">
  <div id="forgetpw-content">
  <p class="big-text">Enter your email address</p>
  <p class="reset_instr">You will be emailed a link to reset you password.</p>

    <div class="forgetpw-form">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= f.text_field :email, :class =>'field_forgetpw', :required => true %>
          <%= image_submit_tag("reset_button.png")%>
      <% end %>
    </div>

    <div class="reset_error"><%= errors_for(resource) %></div>

    <span class="cs_link"><a href="mailto:support@inspirationengine.com">Click here to email our customer support.</a></span>
  </div>
</div>