<h3>Subscriptions</h3>
<table>
	<tr>
		<td>PROJECT NAME</td>
		<td>e.mote SCORE</td>
		<td>START DATE</td>
		<td>TOTAL e.moters</td>
		<td>ACTIVE</td>
		<td>MAKE PUBLIC</td>
		<td>SCORECARD EMBED/LINK</td>
		<td>SCORECARD</td>
		<td>e.mote LINK</td>
		<td>[]</td>
	</tr>
	<% @subscriptions.each do |subscription| %>
	<tr>
		<td><%= debug subscription -%></td>
	</tr>
	<% end %>
</table>