<h4>Edit e.mote</h4>
<% form_for @emote, :as => :emote, :url => admin_emote_path(@emote), :html => { :method => :put } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f, :users => @users, :emote => @emote } %>
	<%= submit_tag 'Save' %> or <%= link_to 'Cancel', admin_emotes_path %>
<% end%>