<h3>All finished!</h3>
<br/>
<p>
  You may send people...
</p>
<br/>
<p>
  <%= text_field_tag 'emote_link', @survey.emote_direct_link, :readonly => true, :size => 50 %>
  <%= link_to 'Go there', @survey.emote_direct_link, :target => '_blank' %>
</p>
<br/>
<br/>
<%= link_to 'Go back', account_surveys_path %>