<div id="content-win-centr">

    <div id="create-survey">
        <div class="big-text">Create e.mote&trade; </div>
        <div class="instruction">Enter the subject (dining, service, etc.). It should be clear and concise (one to three words)
	    and focus on experiences that generate emtion.
	</div>
	<%= form_for @survey, :as => :survey, :url => account_surveys_path, :html => {:method => :post} do |f| %>
	<div id="preview-win">
	    <div id="preview-text">Tell us how you felt about your most recent experience with <br/>
		<input id="emote-subject" name="" value="[ENTER SUBJECT HERE]">
	    </div>
        </div>
	<div id="publish-button"><%= image_submit_tag("publish_button.png") %> <%= link_to 'Cancel', account_surveys_path %></div>
        <% end %>
    </div>

</div>

