<html>
<head>
<style type="text/css">
<!--
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
h1 {
	font-size: 16px;
}
.signature {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: italic;
	color: #333333;
	font-weight: normal;
}
.notice {
	width: 730px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin-top: 30px;
	padding-top: 5px;
}
-->
</style>
</head>
<body>
<div id="header">
  <%= image_tag attachments['header_full.png'].url %>
</div>

<%= yield %>

<p class="signature">The <strong>e.mote&trade;</strong> Team</p>
<div class="notice">
Please do not reply to this message; it was sent from an unmonitored email address. This message is a service email related to your use of <strong>e.mote&trade;</strong>. For general inquiries or to request support with your <strong>e.mote&trade;</strong> account, please contact us at <a href="mailto:support@inspirationengine.com">support@inspirationengine.com</a>.
</div>
</body>
</html>